/* styles.css */
body {
  font-family: Georgia, sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

section {
  padding: 2rem;
  border-bottom: 1px solid #ccc;
  height: 100vh;
  
}

h2 {
  margin-top: 0;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project {
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
}

li {
  font-weight: 600;
}

.image-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.profile-picture {
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  object-fit: cover;
  /*border: 5px solid #621e8d;*/
  border: 5 px solid #ffffff;
}

a {
  text-decoration: none;
  color: black;
}




/* Ensure your video fills the background */
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Style the content to be visible on top of the video */
.content {
  position: relative;
  z-index: 1;
  color: white; /* Adjust text color for visibility */
  padding: 20px;
}

.image-container {
  text-align: center;
}

.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

#contact a {
  color: white; /* Ensure links are visible */
  text-decoration: none;
}
